<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>El Mercadito</name>
    <description>
        Compra y venta de productos primarios.
    </description>
    <author email="luisabety200797@gmail.com" href="http://phonegap.com">
       Izibit Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="logo.png"/>
</widget>
